MIRA_DEBUG=1
MIRA_SECRET_KEY=INSERIRE_UNA_CHIAVE_CASUALE_LOCALE
MIRA_ALLOWED_HOSTS=localhost,127.0.0.1
MIRA_CSRF_TRUSTED_ORIGINS=
MIRA_DB_ENGINE=mysql
MIRA_DB_HOST=127.0.0.1
MIRA_DB_PORT=3306
MIRA_DB_NAME=mira
MIRA_DB_USER=
MIRA_DB_PASSWORD=
MIRA_TEST_DB_NAME=mira_test
