import os
import sys

# Sostituire USERNAME con il nome utente PythonAnywhere.
project_path = "/home/USERNAME/MIRA"
if project_path not in sys.path:
    sys.path.insert(0, project_path)

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "config.settings")

from django.core.wsgi import get_wsgi_application

application = get_wsgi_application()
